/* Reset des marges et des rembourrages pour assurer la cohérence sur différents navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.fixed-top-nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Ajout de transition pour une animation fluide */
}

.scrolled-nav {
    background-color: black !important;
    color: white !important;
}

.scrolled-nav .navbar-nav .nav-item .nav-link {
    color: white !important;
}

/* Ajoutez du padding à la section suivante pour compenser la barre de navigation fixe */
body {
    padding-top: 56px;
    /* Ajustez la valeur en fonction de la hauteur de votre barre de navigation */
}

/* Styles de la barre de navigation */
.navbar {
    background-color: transparent;
}

.navbar-brand img {
    max-width: 20%;
    height: auto;
    margin-left: 5%;
}

/* Styles de la section d'accueil */
.background-div {
    margin: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: rotateImage 5s infinite linear;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 10%;
}

/* Ajout de styles spécifiques pour la section d'accueil */
#accueil .acceuil-title {
    font-size: 5rem;
    color: #107717;
}

#accueil .acceuil-subtitle {
    font-size: 2.5rem;
    color: #E50014;
}

/* Styles pour le bouton Inscription dans la section d'accueil */
#accueil .btn-success {
    font-size: 1.5rem;
}

/* Les styles pour le fond restent inchangés */
.background-div {
    margin: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}


/* Styles de la section de mission */
#mission {
    margin-top: 5%;
}

.mission {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
}

/* Styles de la section d'objectifs */
#objectifs {
    margin-top: 5%;
}

h3 {
    text-align: center;
    color: red;
    font-size: 3rem;
    font-weight: 600;
}

.lead {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* Styles pour la vidéo de fond */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* Styles pour les liens de navigation */
.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white;
    background-color: #107717;
}

.navbar-nav .nav-item {
    margin-left: 10%;
}

#formation {
    text-align: center;
}

.section-title {
    color: #E50014;
    font-size: 2rem;
    margin-bottom: 20px;
}



.equal-image {
    width: 100%;
    height: 280px;
}

.card .card-body .card-title {
    font-weight: 600;
    font-size: 2rem;
    color: #107717;
    text-transform: uppercase;
}

.card .card-body .card-text {
    margin-top: 4%;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #107717;
    cursor: pointer;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: transparent;
}

.footer-custom {
    color: #107717;
    margin-top: 20%;
}

.footer-brand img {
    width: 50%;
}

.list-inline-item a {
    color: white;
}



/* Masquer la barre de contrôle */
video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: none !important;
}


@media (max-width: 992px) {
    .navbar-brand img {
        max-width: 50%;
        margin-left: 0;
    }

    #accueil .acceuil-title {
        font-size: 3rem;
    }

    #accueil .acceuil-subtitle {
        font-size: 1.5rem;
    }

    #accueil .btn-success {
        font-size: 1rem;
    }

    .background-div {
        margin: 5%;
    }

    #mission,
    #objectifs,
    #formation,
    #contact {
        margin-top: 3%;
    }

    .equal-image {
        height: 200px;
    }

    .card .card-body .card-title {
        font-size: 1.5rem;
    }

    .card .card-body .card-text {
        margin-top: 2%;
    }

    .footer-custom {
        margin-top: 10%;
    }

    .footer-brand img {
        width: 30%;
    }
}

/* Styles supplémentaires pour les écrans encore plus petits */
@media (max-width: 768px) {
    .navbar-nav .nav-item {
        margin-left: 5%;
    }

    .list-inline-item a {
        font-size: 0.8rem;
    }
}